@{
    ViewData["Title"] = "Home Page";
}

<h2>Rhodes Shoppe</h2>

<p>Hello and welcome to the assessment you have requested.</p>
<p>I have made a customer and repair API with a MVC front end.</p>
<p>As of right now the Api has Get All for both the Customers and Repairs. Both Gets are working on the front end, but only the Post is working for the Customers.</p>
<p>I look forward to hearing back from you</p>

<p>Andrew Rhodes</p>

<p>
    <a href="https://rhodesshoppe.com" class="btn btn-primary" target="_blank">Visit Rhodes Shoppe</a>
</p>